h1{
    font-size: 5vw;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
header{
    position: fixed;
    display: flex;
    justify-content: end;
}
main{
    z-index: 2;
}
.stats{
    display:none;
}
.logo{
    position: fixed;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content:center;
    align-items: center;
}