body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
header{
    position: fixed;
    display: flex;
    justify-content: end;
}
